/* CSS declarations go here */
body{
    background-color: #f5f5f5;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.header{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: normal;
    background-color: #3fbe52;
    z-index: 2;
}
.header1{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: normal;
    background-color: #3fbe52;
    z-index: 2;
}

.mr-10{
    margin-right: 10px;
}
.content{
    /*margin-top: 10px;*/
    padding: 70px 10px;
    /*margin-top: 60px;*/
    /*margin-bottom: 60px;*/
}
.m-img{
    width: 38px;
    height: 38px;
    border-radius: 38px;
    margin-right: 10px;
}
.m-text{
    width: auto;
    padding: 10px;
    /*background-color: #3fbe52;*/
    /*color: #fff;*/
    display: inline-block;
    border-radius: 6px;
    background-color: #fff;
}
.mr-own-10{
    margin-right: -9px;
    color: #fff;
    font-size: 18px;
}
.hua{
    display: flex;
    justify-content: flex-start;
}
.text{
    display: flex;
    align-items: baseline;
}
.me{
    display: flex;
    justify-content: flex-end;
}
.ml-own-10{
    margin-left: -9px;
    color: #fff;
    font-size: 18px;
}
.footer{
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}
.f-input {
    border: none;
    width: 80%;
    margin-right: 10px;
    border-bottom: 1px solid #999988;
}
.f-input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #3fbe52;
}
.login-other{
    text-align: center;
    font-size: 18px;
    color: #3fbe52;
}
.login-other, .login-other li {
    list-style: none;
}
.login-bgPic{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    background: url("../images/timg.jpeg") no-repeat center;
    background-size: cover;
}
.login-bgPic a {
    color: #fff;
    outline: none;
    text-decoration: none;
}
.login-box{
    width: 70%;
    height: auto;
    background-color: #fff;
}