<template name="home">
    {{>PageMHead}}
    <div class="chat-lists">
        <ul class="list-group">
            <li class="list-group-item displayFlex">
                <div>
                    <div class="h4">Cras justo odio</div>
                    <div class="mt10">1234567</div>
                </div>
                <div class="right">
                    <span class="badge">1</span>
                    <div class="mt10 f14">08-22 15:42:43</div>
                </div>
            </li>
            <li class="list-group-item displayFlex">
                <div>
                    <div class="h4">Cras justo odio</div>
                    <div class="mt10">1234567</div>
                </div>
                <div class="right">
                    <span class="badge">1</span>
                    <div class="mt10 f14">08-22 15:42:43</div>
                </div>
            </li>
            <li class="list-group-item displayFlex">
                <div>
                    <div class="h4">Cras justo odio</div>
                    <div class="mt10">1234567</div>
                </div>
                <div class="right">
                    <span class="badge">1</span>
                    <div class="mt10 f14">08-22 15:42:43</div>
                </div>
            </li>
            <li class="list-group-item displayFlex">
                <div>
                    <div class="h4">Cras justo odio</div>
                    <div class="mt10">1234567</div>
                </div>
                <div class="right">
                    <span class="badge">1</span>
                    <div class="mt10 f14">08-22 15:42:43</div>
                </div>
            </li>
            <li class="list-group-item displayFlex">
            <div>
                <div class="h4">Cras justo odio</div>
                <div class="mt10">1234567</div>
            </div>
            <div class="right">
                <span class="badge">1</span>
                <div class="mt10 f14">08-22 15:42:43</div>
            </div>
        </li>
        </ul>
    </div>
    {{>PageFooter}}
    <!--{{> context}}-->
</template>