<template name="context">
    <div>
        <!--{{> PageHead}}-->
        {{# if friendName}}
        <nav class="flex-between header">
            <p class="glyphicon glyphicon-menu-left">{{friendName}}</p>
            <i class="glyphicon glyphicon-user"></i>
        </nav>
        {{/if}}
        <div class="content">
            {{#each posts}}
                {{#if isMe this.userName}}
                    {{>me}}
                {{else}}
                    {{>others}}
                {{/if}}
            {{/each}}
        </div>
        {{> ChatFoot}}
    </div>
</template>

<template name="others">
    <div class="hua">
        <img class="m-img" src="../images/l.png">
        <div class="text">
            <i class="glyphicon glyphicon-triangle-left mr-own-10"></i>
            <p class="m-text">{{message}}</p>
        </div>
    </div>
</template>
<template name="me">
    <div class="me">
        <div class="text">
            <p class="m-text" style="background-color: #3fbe52;color: #fff;" data-value="{{userName}}">{{message}}</p>
            <i style="color: #3fbe52;" class="glyphicon glyphicon-triangle-right ml-own-10"></i>
        </div>
        <img class="m-img" src="../images/r.png">
    </div>
</template>